<!-- ctrl + alt + l: 들여쓰기 간격 설정(2칸 -> 4칸) -->
<!-- 들여쓰기: tab or space 변경: shift 2번 -> tab space 검색 후 To Tabs(Spaces)선택 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>@GetMapping 테스트</title>
	</head>
	<body>
	<!-- msg값이 있으면(null이 아니면) 뒤의 안녕하세요는 무시한다. -->
	<h1 th:if="${msg != null}" th:text="'model 값 : '+${msg}">안녕하세요.</h1>
	<h1 th:unless="${msg != null}" th:text="'model 값 없음'">안녕하세요.</h1>
	<div th:if="${dto}">
		<h1 th:if="${dto.name != null}" th:text="'dto 값 : '+${dto.toString()}">안녕하세요.</h1>
		<h1 th:unless="${dto.name != null}" th:text="'dto 값 없음'">안녕하세요.</h1>
	</div>
	</body>
</html>